@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  @apply selection:text-sky-500 dark:selection:bg-blue-800/30;
  
  height: 100%;
  background-color: black;
  color: white;
}

.nav-link{
  position: relative;
  display: inline-block;
}

.nav-link::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  bottom: -3px;
  left: 0;
  background-color: currentColor;
  transition: width 0.3s ease-in-out;
  will-change: width;
}

.nav-link:hover::after {
  width: 100%;
}

@layer components {
  .project-content {
    figure {
      @apply flex flex-col gap-2 mb-12 mt-10 w-full md:mb-16;
  
      img {
        @apply w-full;
      }
  
      figcaption {
        @apply text-zinc-400 text-sm;
      }
    }

    p {
        @apply mb-4 text-sm md:text-base font-light tracking-wide leading-relaxed text-zinc-100;
      }
  }
}